<div id="filters">
  <fieldset data-role="controlgroup" data-type="horizontal">
    <input type="radio" name="price-radio" data-behavior="price-filter" data-section="<%= section %>" id="price-radio-50" value="50">
    <label for="price-radio-50">$50</label>
    <input type="radio" name="price-radio" data-behavior="price-filter" data-section="<%= section %>" id="price-radio-100" value="100">
    <label for="price-radio-100">$100</label>
    <input type="radio" name="price-radio" data-behavior="price-filter" data-section="<%= section %>" id="price-radio-150" value="150">
    <label for="price-radio-150">$150</label>
    <input type="radio" name="price-radio" data-behavior="price-filter" data-section="<%= section %>" id="price-radio-200" value="200">
    <label for="price-radio-200">$200</label>
  </fieldset>

  <fieldset data-role="controlgroup">
    <input type="checkbox" data-behavior="keywords-filter" data-section="<%= section %>" id="keywords_1" data-value="hotels">
    <label for="keywords_1">Hotels & Tours</label>
    <input type="checkbox" data-behavior="keywords-filter" data-section="<%= section %>" id="keywords_2" data-value="beaches">
    <label for="keywords_2">Beaches & Fun</label>
    <input type="checkbox" data-behavior="keywords-filter" data-section="<%= section %>" id="keywords_3" data-value="drinks">
    <label for="keywords_3">Drinks & Food</label>
  </fieldset>
</div>

<style type="text/css">
  .fixed {
    position:fixed;
    top:40px;
    z-index: 1000;
  }
</style>

<script type="text/javascript">
  $(document).ready(function(){
    var num = $('#filters').offset().top; //number of pixels before modifying styles

    $(window).bind('scroll', function () {
      if ($(window).scrollTop() > num) {
        $('#filters').addClass('fixed');
      } else {
        $('#filters').removeClass('fixed');
      }
    });
  });
</script>
