<div id="filters">
  <fieldset data-role="controlgroup" data-type="horizontal">
    <% price_options.each_with_index do |value, index| %>
      <%= radio_button_tag "price-radio", value[0], params[:price] == value[0], "data-behavior" => "price-filter" %>
      <label for="price-radio_<%= value[0] %>"><%= value[1] %></label>
    <% end %>
  </fieldset>

  <div id="loading" class="progress" style="display: none">
    <div class="indeterminate"></div>
  </div>

  <fieldset data-role="controlgroup">
    <% keywords_options.each_with_index do |value, index| %>
      <%= check_box_tag "keywords_#{index}", value[0], params[:keywords].present? && params[:keywords].include?(value[0]), "data-behavior" => "keywords-filter", "data-value" => value[0] %>
      <label for="keywords_<%= index %>"><%= value[1] %></label>
    <% end %>
  </fieldset>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var num = $('#filters').offset().top; // # of pixels before adjusting styles

    $(window).bind('scroll', function () {
      if ($(window).scrollTop() > num) {
        $('#filters').addClass('fixed');
      } else {
        $('#filters').removeClass('fixed');
      }
    });
  });
</script>
