<% collection.each do |event| %>
  <li>
    <a href="<%= event[:links].first %>" target="blank">
      <img src="<%= event[:image_urls].first %>" class="listing">
      <h2><%= event[:title] %></h2>
      <p><%= event[:start_date] %> | <%= event[:start_time] %></p>
      <p><strong><%= event[:price_text].join(" - ") %> | <%= event[:address] %></strong></p>
      <p><%= event[:description] %></p>
    </a>
  </li>
<% end %>
