<div data-role="header" data-position="fixed" data-theme="a">
  <a href="/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
    <h1>Home</h1>
</div><!-- /header -->

<div data-role="page" data-title="Combined Deals">
  <div role="main" class="ui-content jqm-content jqm-fullwidth">

    <ul data-role="listview" data-inset="false">
      <% combined_deals.each do |combined| %>
        <li>
          <a href="/deals/<%= combined.id %>" data-prefetch="true" data-transition="slide">
            <img src="<%= combined.image_urls.first %>" class="listing">
            <h2>
              <%= combined.title %>
            </h2>
            <p>
              <% if combined.price.to_i > 0 %>
                <b>$<%= combined.price %></b>
              <% else %>
                <b><%= combined.price_text.first %></b>
              <% end %>
            </p>
          </a>
        </li>
      <% end %>
    </ul>

  </div><!-- /content -->
</div><!-- /page -->

<%= render partial: "navbar" %>
