<div data-role="header" data-position="fixed" data-theme="a">
  <a href="/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
    <h1>Home</h1>
</div><!-- /header -->

<!-- http://demos.jquerymobile.com/1.4.5/tabs/ -->

<div data-role="page" data-title="Deals in Auckland">
  <div role="main" class="ui-content jqm-content jqm-fullwidth">

    <ul data-role="listview" data-inset="false">

      <li data-role="list-divider" data-theme="b">Single Deals</li>
      <% single_deals.each do |single| %>
        <li>
          <a href="/deals/<%= single.slug %>" data-prefetch="true" data-transition="slide">
            <img src="<%= single.image_urls.first %>" class="listing">
            <h2>
              <%= single.title %>
            </h2>
            <p>
              <% if single.price.to_i > 0 %>
                <b>$<%= single.price %></b>
              <% else %>
                <b><%= single.price_text.first %></b>
              <% end %>
            </p>
          </a>
        </li>
      <% end %>

      <li data-role="list-divider" data-theme="b">Combined Deals</li>
      <% combined_deals.each do |combined| %>
        <li>
          <a href="/deals/<%= combined.slug %>" data-prefetch="true" data-transition="slide">
            <img src="<%= combined.image_urls.first %>" class="listing">
            <h2>
              <%= combined.title %>
            </h2>
            <p>
              <% if combined.price.to_i > 0 %>
                <b>$<%= combined.price %></b>
              <% else %>
                <b><%= combined.price_text.first %></b>
              <% end %>
            </p>
          </a>
        </li>
      <% end %>

    </ul>

  </div><!-- /content -->
</div><!-- /page -->

<%= render partial: "navbar" %>
