<div data-role="header" data-position="fixed" data-theme="a">
  <a href="/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
    <h1>Home</h1>
</div><!-- /header -->

<div data-role="page" data-title="Deals in Auckland">
  <div role="main" class="ui-content jqm-content jqm-fullwidth">

    <h4>
      <% if @deal.price.to_i > 0 %>
        <i>$<%= @deal.price %></i>
      <% else %>
        <i><%= @deal.price_text[0].html_safe %></i>
      <% end %>

      - <%= @deal.title.html_safe %>
    </h4>

    <img src="<%= @deal.image_urls[0] %>" class="show">
    <p><%= @deal.description[0] %></p>
    <a href="<%= @deal.links[0] %>" class="ui-btn ui-icon-action ui-btn-icon-left ui-shadow ui-corner-all" target="blank">Check on website</a>

    <% if @deal.is_combined? %>
      <br/>

      <img src="<%= @deal.image_urls[1] %>" class="show">
      <p><%= @deal.description[1] %></p>
      <a href="<%= @deal.links[1] %>" class="ui-btn ui-icon-action ui-btn-icon-left ui-shadow ui-corner-all" target="blank">Check on website</a>
    <% end %>

    <% if @deal.show_in_map? %>
      <br/>
      <div id="gmap" class="map"></div>

      <script type="text/javascript">
        var locations = [
            {
                lat: 45.9,
                lon: 10.9,
                title: 'Title A1',
                html: '<h4>Content A1</h4>',
                icon: 'http://maps.google.com/mapfiles/markerA.png',
            },
            {
                lat: 54.9,
                lon: 10.9,
                title: 'Title B1',
                html: '<h3>Content B1</h3>',
                icon: 'http://maps.google.com/mapfiles/markerB.png',
            }
        ];

        $(function() {
            new Maplace({
                show_markers: true,
                locations: locations
            }).Load();
        });
      </script>
    <% end %>

  </div>

</div>
