<div data-role="header" data-position="fixed" data-theme="a">
  <a href="/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
    <h1>Home</h1>
</div><!-- /header -->

<div data-role="page" data-title="Deals in Auckland">
  <div role="main" class="ui-content jqm-content jqm-fullwidth">

    <h4>
      <% if @deal.price.to_i > 0 %>
        <i>$<%= @deal.price %></i>
      <% else %>
        <i><%= @deal.price_text[0].html_safe %></i>
      <% end %>

      - <%= @deal.title.html_safe %>
    </h4>

    <img src="<%= @deal.image_urls[0] %>" class="show">
    <p><%= @deal.description[0] %></p>
    <a href="<%= @deal.links[0] %>" class="ui-btn ui-icon-action ui-btn-icon-left ui-shadow ui-corner-all" target="blank">Check on website</a>

    <% if @deal.is_combined? %>
      <br/>

      <img src="<%= @deal.image_urls[1] %>" class="show">
      <p><%= @deal.description[1] %></p>
      <a href="<%= @deal.links[1] %>" class="ui-btn ui-icon-action ui-btn-icon-left ui-shadow ui-corner-all" target="blank">Check on website</a>
    <% end %>

  </div>
</div>
