<div data-role="header" data-position="fixed" data-theme="a">
  <a href="../toolbar/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
    <h1>Home</h1>
</div><!-- /header -->

<div data-role="page" data-title="Single Deals">

  <div role="main">

  <% single_deals.each do |single| %>
    <div class="primary callout">
      <code>
        <% if single.price.to_i > 0 %>
          <b>$<%= single.price %> - </b>
        <% end %>
        <%= single.title %>
      </code>
      <p><%= single.description %></p>

      <img class="thumbnail" src="<%= single.image_urls.first %>">

      <a class="large expanded button" href="<%= single.links.first %>" target="blank">
        <% if single.price.to_i > 0 %>
          <%= "$#{single.price}" %>
        <% else %>
          <%= single.price_text.first %>
        <% end %>
      </a>
    </div>
  <% end %>

  </div><!-- /content -->

</div><!-- /page -->

<%= render partial: "navbar" %>
