<div data-role="header" data-position="fixed" data-theme="a">
  <a href="/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
    <h1>Home</h1>
</div><!-- /header -->

<div data-role="page" data-title="Single Deals">
  <div role="main" class="ui-content jqm-content jqm-fullwidth">

    <ul data-role="listview" data-inset="false">
      <% single_deals.each do |single| %>
        <li>
          <a href="/deals/<%= single.id %>" data-prefetch="true" data-transition="slide">
            <img src="<%= single.image_urls.first %>">
            <h2>
              <% if single.price.to_i > 0 %>
                <b>$<%= single.price %> - <%= single.title %></b>
              <% else %>
                <b><%= single.price_text.first %> - <%= single.title %></b>
              <% end %>
            </h2>
            <p><%= single.description %></p>
          </a>
        </li>
      <% end %>
    </ul>

  </div><!-- /content -->
</div><!-- /page -->

<%= render partial: "navbar" %>
